/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-block-quote{
    padding: 50px 0 20px;
    max-width: 70vw;
    margin: 0 auto;
}
.wp-block-acf-block-quote h2{
    font-family: 'Avenir Next Demi';
    color: #333333;
    font-size: 34px;
    position: relative;
    text-align: center;
    line-height: 1.25;
    letter-spacing: 0;
    margin-bottom: 30px;
}
.wp-block-acf-block-quote h3{
    font-family: 'Avenir Next Medium';
    color: #333333;
    font-size: 25px;
    line-height: 34px;
    position: relative;
    text-align: center;
    letter-spacing: 0;
}
.wp-block-acf-block-quote .with-quotes .quotebefore{
    content: url(../../../assets/img/svg/crochet-left.svg);
    display: block;
    position: absolute;
    left: -30px;
    top: -20px;
    transform: translate(20px, 20px);
    opacity: 0;
}
.wp-block-acf-block-quote .with-quotes .quoteafter{
    content: url(../../../assets/img/svg/crochet-right.svg);
    display: block;
    position: absolute;
    right: -30px;
    bottom: -20px;
    transform: translate(-20px, -20px);
    opacity: 0;
}


@media only screen and (max-width: 992px) {
    .wp-block-acf-block-quote h2{
        font-size: 28px;
    }
}
@media only screen and (max-width: 768px) {
    .wp-block-acf-block-quote {
        max-width: 85vw;
    }
}
@media only screen and (max-width: 576px) {
    .wp-block-acf-block-quote h2{
        font-size: 22px;
    }   
    .wp-block-acf-block-quote {
        padding: 50px 0 0 0;
    }
    .wp-block-acf-block-quote h3 {
        font-size: 20px;
        line-height: 28px;
    }
}
@media only screen and (max-width: 420px) {
    .wp-block-acf-block-quote {
        max-width: 100vw;
    }
    .wp-block-acf-block-quote .with-quotes .quotebefore {
        left: 0px;
    }
    .wp-block-acf-block-quote .with-quotes .quoteafter {
        right: 0px;
    }
}