/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/

.wp-block-acf-quote-with-photo .container:first-of-type{
    position: relative;
}
.wp-block-acf-quote-with-photo .block-content{
    background-color: #FFFFFF;
    padding: 40px 30px;
    box-shadow: 0 2px 15px 2px rgba(0,0,0,0.12);
    border-radius: 15px;
    z-index: 9999;
    transform: translateY(5vw);
}
.wp-block-acf-quote-with-photo .block-content h3{
    font-family: 'Avenir Next';
    font-size: 24px;
    color: #333333;
    line-height: 34px;
    margin-bottom: 30px; 
}
.wp-block-acf-quote-with-photo .block-content p{
    margin-bottom: 0px;
    font-family: 'Avenir Next';
    font-size: 17px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
}
.wp-block-acf-quote-with-photo .block-content::after{
    content: url(../../../assets/img/svg/yellow-quotes.svg);
    display: block;
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: 9;
}
.wp-block-acf-quote-with-photo .block-img{
    position: absolute;
    right: 0;
    top: -0;
    padding: 0px;
}
.wp-block-acf-quote-with-photo .block-img img{
    border-radius: 30px;
    overflow: hidden;    
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
@media only screen and (min-width: 1500px) {
    .wp-block-acf-quote-with-photo .block-img{
        top: -5vw;
    }
}
@media only screen and (max-width: 992px) {
    .wp-block-acf-quote-with-photo .block-content h3 {
        font-size: 22px;
        line-height: 32px;
    }
}
@media only screen and (max-width: 575px) {
    .wp-block-acf-quote-with-photo .block-content {
        transform: translateY(10vw);
    }
    .wp-block-acf-quote-with-photo {
        padding-bottom: 20vh;
    }
}
@media only screen and (max-width: 420px) {
    .wp-block-acf-quote-with-photo .block-content {
        margin: 0 auto;
    }
    .wp-block-acf-quote-with-photo {
        overflow-x: auto;
    }
}