/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-presta-top-page > div{
    background-size: cover!important;
}
.wp-block-acf-presta-top-page{
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.wp-block-acf-presta-top-page h1{
    font-family: 'Avenir Next Bold';
    font-size: 58px;
    line-height: 1.25;
    color: #333333;
}
.wp-block-acf-presta-top-page .row-reverse{
    flex-direction: row-reverse;
}
.wp-block-acf-presta-top-page .bloc-subtitle h3{
    font-family: "Avenir Next Demi";
    font-size: 24px;
    color: #909090;
    line-height: 34px;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 0;
}
.wp-block-acf-presta-top-page .bloc-subtitle p{
    font-family: "Avenir Next Medium";
    font-size: 20px;
    color: #909090;
    line-height: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 0;
}
span.title-tag{
    display: inline-flex;
    font-family: 'Avenir Next Medium';
    font-size: 12px;
    color: #25A89B;
    letter-spacing: 0;
    text-align: right;
    border: 1px solid #25A89B;
    border-radius: 2.5px;
    padding: 2px 8px;
}





@media only screen and (max-width: 992px) {
    .wp-block-acf-presta-top-page .bloc-subtitle {
        font-family: "Avenir Next Demi";
        font-size: 22px;
        color: #909090;
        line-height: 32px;
        margin-top: 40px;
    }
    .wp-block-acf-presta-top-page {
        height: auto;
    }
    .wp-block-acf-presta-top-page .row{
        padding: 25vw 0 15vw;
    }
    .wp-block-acf-presta-top-page h1 {
        font-family: 'Avenir Next Bold';
        font-size: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .wp-block-acf-presta-top-page .row-reverse{
        flex-direction: row;
        padding: 25vw 0 25vw;
    }
    .wp-block-acf-presta-top-page .row-reverse .col-img{
        position: absolute;
        right: -10%;
        top: 25vw;
    }
    .wp-block-acf-presta-top-page h1{
        font-size: 8vw;
        line-height: 10vw;
    }
    .wp-block-acf-presta-top-page .bloc-subtitle h3{
        font-size: 20px;
        line-height: 28px;
    }
    .wp-block-acf-presta-top-page .row-reverse .col-img {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 80px;
    }
    .wp-block-acf-presta-top-page .block-titles {
        max-width: 100%;
    }
    .wp-block-acf-presta-top-page .bloc-subtitle p {
        max-width: 75%;
        line-height: 28px;
    }
}
@media only screen and (max-width: 575px) {
    .wp-block-acf-presta-top-page .bloc-subtitle {
        font-size: 18px;
        line-height: 24px;
    }
    .wp-block-acf-presta-top-page .row {
        padding: 25vw 0 30vw;
    }
    .wp-block-acf-presta-top-page .bloc-subtitle p {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 420px) {

    .wp-block-acf-presta-top-page .row {
        padding: 20vh 0 15vh;
    }
    .wp-block-acf-presta-top-page .bloc-subtitle {
        font-size: 17px;
        line-height: 24px;
        margin-top: 20px;
    }
    .wp-block-acf-presta-top-page h1 {
        font-size: 10vw;
        line-height: 13vw;
    }
    .wp-block-acf-presta-top-page .bloc-subtitle p {
        max-width: 100%;
    }
   
}   

