/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
header#masthead{
    position: relative;
    z-index: 99999;
}

body .header-desktop{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom: solid 1px rgba(210,210,210,0);
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99999;
    background-color: rgba(255,255,255,0);
}
body.header-fixed .header-desktop{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: solid 1px rgba(210,210,210,0.4);
    background-color: rgba(255,255,255,0.9);
    max-height: 76px;
}
.header-items-container ul{
    display: flex;
}
ul#menu-header-top {
    margin: 0;
    padding-left: 0;
}
.header-items-container ul li{
    list-style-type: none;
    margin-left: 10px;
}
.header-desktop {
    position: fixed;
    padding-top: 30px;
}
.header-desktop a{
    font-family: 'Avenir Next';
    font-size: 16px!important;
    color: #333333;
    text-align: center;
    letter-spacing: 0;
    text-decoration: none;
    padding: 15px 0px;
    display: block;
}
.header-desktop a:hover{
    color: #333333;
}

.header-items-container ul li a:hover{
    text-decoration: none;
}
.header-items-container ul li{
    position: relative;
    /* padding: 15px 30px 10px 30px; */
}
.header-items-container ul li.trigger-submenu > a::after{
    content: url(../img/svg/arrow-black.svg);
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    transform-origin: 50% 50%;
}
.header-items-container .trigger-submenu.expand-submenu > a::after{
    transform: rotateZ(180deg);
}
.header-items-container ul li.trigger-submenu > a:first-child{
    display: block;
    padding: 15px 20px; 
    text-align: left;
}
.header-items-container ul li.trigger-submenu.expand-submenu > a:first-child{
    background-color: #F3F3F3;
}
.header-items-container .trigger-submenu{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: fit-content;
    overflow: hidden;
    height: 50px;
}
.header-items-container .trigger-submenu.expand-submenu{
    background: #FFFFFF;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.07);
}
.header-items-container .trigger-submenu.expand-submenu{
    height: fit-content;
    height: -moz-fit-content;
    -moz-height: fit-content
}
.header-items-container ul li > ul{
    /* height: 0; */
    /* overflow-y: hidden; */
    /* position: absolute;
    left: 0;
    top: 0; */
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0px;
    padding: 0px 0px 0 0px;
}
.header-items-container ul li > ul li{
    list-style-type: none;
    transition: height 1s ease;
    margin-left: 20px;
    margin-right: 20px;
}
.header-items-container ul li > ul li a{
    display: block;
    list-style-type: none;
    width: max-content;
    margin-left: 0px !important;
    padding: 10px 0px;
    transition: height 1s ease 0s;
    border-bottom: 1px solid rgb(239, 239, 239);
}
.header-items-container ul li.trigger-submenu ul li:last-of-type a{
    border-bottom: 0px;
}
.header-items-container ul li.trigger-submenu ul.expand-submenu{
    height: auto;
}
header .btn-demo{
    margin-left: 20px;
}
/*****************/
/*
/*
/* HEADER MOBILE */
.site-header-mobile{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    position: fixed;
    top: 0px;
    padding: 30px 0px;
}
body.header-fixed .site-header-mobile{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: solid 1px rgba(210,210,210,0.4);
    background-color: rgba(255,255,255,0.9);
    max-height: 76px;
}
header.mobile-open .header-mobile-items-container{
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.header-mobile-items-container{
    display: none;
    background-color: var(--hypno1);
    position: fixed;
    z-index: 1000;
    box-shadow: 6px 0 6px -3px rgba(77, 77, 77, 0.16);
    max-width: 100%;
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 100vh;
    width: auto;
    top: 0;
    left: 0;
}
.header-mobile-items-container ul{
    margin: 0;
    padding: 30px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-mobile-items-container ul li{
    list-style-type: none;
    padding: 12px 0px;
    border-bottom: solid 1px rgba(255,255,255,0.2);
    transition: height 1s ease;
}

.site-header-mobile-close {
    position: absolute;
    right: 25px;
    top: 20px;
}
.header-mobile-items-container ul li a:focus{
    text-decoration: none;
}
.header-mobile-items-container ul li a{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Avenir Next';
    letter-spacing: 0;
}
.site-header-mobile .site-header-mobile-toggle {
    width: 18px;
    height: 16px;
    align-items: center;
    transition: none;
    vertical-align: middle;
    position: relative;
}

.site-header-mobile .site-header-mobile-toggle span {
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    content: " ";
    left: 0;
    background: #333333;
}

.site-header-mobile .site-header-mobile-toggle span:nth-child(1) {
    top: 10px;
    transform-origin: 0 0;
}

.site-header-mobile .site-header-mobile-toggle span:nth-child(2) {
    top: 15px;
    -moz-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -o-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -webkit-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.site-header-mobile .site-header-mobile-toggle span:nth-child(2) {
    top: 20px;
    -moz-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -o-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    -webkit-transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
    transition: width 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header-mobile-logo{
    padding-left: 40px;
    margin-top: 80px;
}
.header-mobile-social {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.header-mobile-items-container ul li ul{
    padding: 0px;
    height: 0;
    overflow: hidden;
}
.header-mobile-items-container button{
    margin-left: 30px!important;
}
.header-mobile-items-container ul li ul.expand-submenu{
    padding: 10px 0px 0px 0px;
    height: auto;
}
.header-mobile-items-container ul li ul li{
    padding-left: 15px;
    /* background-color: var(--hypno2);
    border-bottom: solid 1px var(--hypno1); */
}
.header-mobile-items-container ul li ul li:last-of-type{
    border-bottom: none;
}
.trigger-submenu-mobile{
    position: relative;
}
.trigger-submenu-mobile::after{
    content: url(../img/svg/arrow-white.svg);
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
}
.trigger-submenu-mobile.expand-submenu::after{
    transform: rotateZ(180deg);
}
.header-mobile-items-container .btn-demo{
    margin-top: 20px;
}
/* FORM  */
.modal form{
    max-width: 420px;
}
.modal input.wpcf7-form-control.wpcf7-submit.contact-submit {
    background-color: var(--hypno1);
    border-radius: 30px;
    font-family: 'Avenir Next Demi';
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #FFFFFF!important;
    letter-spacing: 0;
    text-align: center;
    padding: 12px 30px;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.modal input{
    width: 100%;
    height: 40px;
    padding: 3px 10px;
    font-size: 15px;
    margin: 5px 0px;
    font-family: 'Avenir Next';
    -webkit-appearance: none;
}
.modal textarea{
    width: 100%;
    min-height: 100px;
    padding: 3px 10px;
    font-size: 15px;
    margin: 5px 0px;
    font-family: 'Avenir Next';
    -webkit-appearance: none;
}

/**************/
/*
/*
/**** MAIN ****/

main#primary{
    min-height: 50vh;
}

/*******************/
/*
/*
/****** FOOTER ******/
footer#colophon{
    position: relative;
    z-index: 9999;
}

/* subfooter */
footer .prefooter{
    padding: 40px 0;
    background-color: #00686A;
    border-bottom: solid 7px var(--hypno2);
}
footer .main-footer{
    padding: 40px 0 60px;
    background-color: var(--hypno1);
}
footer .main-footer h3{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 17px;
    font-family: 'Avenir Next Demi';
    margin-bottom: 15px;
    margin-top: 20px;
}
footer .main-footer ul{
    padding: 0px;
    margin: 0;
}
footer .main-footer ul li{
    list-style-type: none;
    padding: 10px 0px;
}
footer .main-footer ul li a{
    font-family: 'Avenir Next';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}
footer .subfooter{
    padding: 15px 0px;
    font-size: 12px;
    font-family: 'Avenir Next';
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0;
    background-color: #00686A;
}
.footer-social{
    margin-top: 80px;
}
.footer-social img{
    margin-right: 25px;
}
.footer-partners img{
    height: 100px;
}
/* MODAL BUTTON */

html.modal-active, body.modal-active {
    overflow: hidden;
  }
  .modal::before{
      display: none!important;
  }
  .close-modal {
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 20px;
    }       
  #modal-container {
    position: fixed;
    display: table;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 999999;
  }
  #modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container .modal-background .modal {
    background: white;
    padding: 60px 80px 10px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 300;
    position: relative;
  }
  #modal-container .modal-background .modal h2 {
    font-size: 32px;
    line-height:44px;
    font-family: 'Avenir Next';
    margin-bottom: 30px;
  }
  #modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
  }
  #modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  .content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
  }
  .content h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
  .content .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .content .buttons .button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background: red;
    font-size: 18px;
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .content .buttons .button:hover {
    color: white;
    background: #009bd5;
  }
  
  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  

/* MODAL BUTTON */


/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    .header-items-container ul li.trigger-submenu > a:first-child {
        display: block;
        padding: 15px 10px;
    }
    .header-items-container ul li.trigger-submenu > a::after {
        right: 25px;
    }
}
@media only screen and (max-width: 1024px) {
    .header-items-container ul li {
        margin-left: 0px;
    }
    .header-redirect{
        display: none!important;
    }
    header .btn-demo{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 992px) {
    .header-mobile-items-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-fourth-col{
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 899px) {
    .header-desktop button{
        position: absolute;
        right: 0px;
        width: max-content;
        top: 5px;
        height: auto;
    }
}
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 575px) {
    .prefooter img{
        display: none;
    }
    .prefooter .footer-start-learning{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-first-col, .footer-second-col, .footer-third-col, .footer-fourth-col{
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer-first-col{
        display: flex;
        justify-content: space-between;
    }
    .footer-fourth-col {
        flex-direction: column;
    }
    .footer-partners{
        justify-content: left!important;
    }
    .footer-social {
        margin-top: 20px;
    }
    #modal-container .modal-background .modal {
        background: white;
        width: 100%;
        position: relative;
        height: 100%;
        border-radius: 0px;
    }
    footer .main-footer ul li {
        list-style-type: none;
        padding: 8px 0px;
    }
    
}
@media only screen and (max-width: 420px) {
    #modal-container .modal-background .modal {
        background: white;
        padding: 60px 30px 10px;
    }
    #modal-container .modal-background .modal h2 {
        font-size: 26px;
        line-height: 36px;
        font-family: 'Avenir Next';
        margin-bottom: 30px;
        margin-top: 30px;
    }
}
