/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-block-2-columns > div{
    padding: 60px 0;
}
.wp-block-acf-block-2-columns .row-reverse{
    flex-direction: row-reverse;
}
.wp-block-acf-block-2-columns .row-icon{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}
.wp-block-acf-block-2-columns .row-icon-content{
    margin-left: 15px;
}

.wp-block-acf-block-2-columns .block-content h2{
    margin-bottom: 30px;
    margin-top: 10px;
}
.wp-block-acf-block-2-columns .block-content h3{
    margin-bottom: 30px;
}
.wp-block-acf-block-2-columns .block-content h4{
    font-family: 'Avenir Next Medium';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.wp-block-acf-block-2-columns .block-content{
    margin-bottom: 40px;
}
.wp-block-acf-block-2-columns .block-content p{
    font-family: 'Avenir Next';
    font-size: 18px;
    letter-spacing: 0;
}
.wp-block-acf-block-2-columns .logo-before{
    height: 20px;
    margin-bottom: 20px;
}
span.page-label{
    display: inline-flex;
    font-family: 'Avenir Next Medium';
    font-size: 12px;
    color: #25A89B;
    letter-spacing: 0;
    text-align: right;
    border: 1px solid #25A89B;
    border-radius: 2.5px;
    padding: 2px 8px;
    margin-bottom: 10px;
}
.block-2-columns-img svg{
    overflow: visible;
}
@media only screen and (max-width: 992px) {
    .wp-block-acf-block-2-columns .row-icon {
        width: 50%;
    }
    .wp-block-acf-block-2-columns .block-content .row-icon-content h3 {
        margin-bottom: 0px;
        font-size: 22px;
        line-height: 1.3;
        font-family: 'Avenir Next Medium';
    }
}
@media only screen and (max-width: 768px) {
 
}
@media only screen and (max-width: 575px) {
    .wp-block-acf-block-2-columns .row-icon {
        width: 100%;
    }
    .wp-block-acf-block-2-columns .block-content > div{
        margin-bottom: 40px;
    }
    .wp-block-acf-block-2-columns > div {
        padding: 40px 0;
    }
}
@media only screen and (max-width: 420px) {
    .wp-block-acf-block-2-columns .block-content h2 {
        font-size: 24px;
        line-height: 32px;
    }
}   