/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-home-top-page{
    height: 100vh;
    overflow: hidden;
}
.wp-block-acf-home-top-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0%!important;
}
.block-title{
    margin-bottom: 40px;
}
.block-title h1{
    font-family: 'Avenir Next Demi';
    color: #333333;
    font-size: 3vw;
    line-height: 4vw;
}
.block-title h1 strong{
    color: var(--hypno1);
    font-family: 'Avenir Next Demi';
    font-weight: normal!important;
}
.wp-block-acf-home-top-page .col-bkg{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
.wp-block-acf-home-top-page .col-bkg .image-svg-anim{
    transform: translate(0%, 10vh) scale(0.9);
}

img.top-home-image-background {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    transform: translate(0%, 0px) scale(0.8);
    width: 50vw;
    transform-origin: top right;
    max-width: none;
    max-height: 80vh;
    object-fit: cover;
}


/* RESPONSIVE */

@media only screen and (min-width: 1920px) {
    .block-title h1 {
        font-size: 70px;
        line-height: 80px;
    }
}
@media only screen and (max-width: 992px) {
    img.top-home-image-background{
        display: none;
    }

    .block-title h1 {
        font-size: 6vw;
        line-height: 8vw;
    }
    .wp-block-acf-home-top-page{
        height: auto;
    }
    .wp-block-acf-home-top-page > div {
        padding: 25vh 40px 25vh 40px;
    }
    .wp-block-acf-home-top-page {
        height: auto;
        min-height: 75vh;
    }
}

@media only screen and (max-width: 768px) {
    
  
    .block-title h1 {
        font-size: 6vw;
        line-height: 8vw;
    }
    .col-content,
    .col-content *{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

@media only screen and (max-width: 575px) {
    .wp-block-acf-home-top-page .col-bkg img {
        transform: translate(0);
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(80px);
    }
    
    .wp-block-acf-home-top-page .col-content a.btn-hypno{
        margin: 0 auto;
    }
    .block-title h1 {
        font-size: 7vw;
        line-height: 9vw;
        text-align: center;
    }

    .wp-block-acf-home-top-page > div {
        padding: 20vh 40px 0vh;
    }
    /* STOP ANIMATION */
    .wp-block-acf-home-top-page .anim-image-container .position-absolute {
        top: 0;
        left: 0;
    }
    .wp-block-acf-home-top-page .col-bkg .image-svg-anim {
        transform: translate(0%, 0vh) scale(0.9);
    }
    .wp-block-acf-home-top-page {
        height: 100vh;
        overflow: visible;
    }
    .wp-block-acf-home-top-page .col-bkg{
        height: auto!important;
    }
}
@media only screen and (max-width: 420px) {
    .block-title h1 {
        font-size: 9vw;
        line-height: 12vw;
    }
}
