/*!
Theme Name: hypno-b2b
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hypno-b2b
*/
.wp-block-acf-presentation-multi-blocks > div{
    background-size: cover!important;
}   
.wp-block-acf-presentation-multi-blocks h2{
    font-family: 'Avenir Next Demi';
    font-size: 36px;
    color: #333333;
    line-height: 46px;
    margin-top: 10px;
}
.wp-block-acf-presentation-multi-blocks span.title-tag{
    display: inline-flex;
    font-family: 'Avenir Next Medium';
    font-size: 12px;
    color: var(--hypno2);
    letter-spacing: 0;
    text-align: right;
    border: 1px solid var(--hypno2);
    border-radius: 2.5px;
    padding: 2px 8px;
}
.wp-block-acf-presentation-multi-blocks .row:first-of-type > div{
    padding-bottom: 40px;
    border-bottom: solid 1px #E8E8E8;
    margin-bottom: 80px;
}
.wp-block-acf-presentation-multi-blocks .repeater-cards h2, .wp-block-acf-presentation-multi-blocks .repeater-cards h3{
    color: #FFFFFF;
    font-family: 'Avenir Next Demi';
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}
.wp-block-acf-presentation-multi-blocks .repeater-cards h2 strong, .wp-block-acf-presentation-multi-blocks .repeater-cards h3 strong{
    font-size: 60px;
    color: #FFFFFF;
}
.wp-block-acf-presentation-multi-blocks .repeater-cards .card{
    box-shadow: 0 20px 30px 0 rgba(37,168,155,0.25);
    border-radius: 30px;
    padding: 25px 25px 0px 25px;
    margin-bottom: 15px;
    min-height: 240px;
    position: relative;
    overflow: hidden;
}
.wp-block-acf-presentation-multi-blocks .repeater-cards .card p{
    font-family: 'Avenir Next';
    font-size: 16px;
    color: #FFFFFF;
}
.wp-block-acf-presentation-multi-blocks .repeater-cards{
    padding-bottom: 80px;
    border-bottom: solid 1px #E8E8E8;
    margin-bottom: 20px;
}
.flags-row, .list-items-card{
    position: absolute;
    right: 25px;
}
.list-items-card ul li{
    color: #FFFFFF;
}
.flags-row img{
    width: 25px!important;
}
.wp-block-acf-presentation-multi-blocks .icon-cards{
    position: absolute;
    top: -0%;
    right: -0%;
}
@media only screen and (max-width: 768px) {
    .wp-block-acf-presentation-multi-blocks .row:first-of-type > div {
        padding-bottom: 30px;
        border-bottom: solid 1px #E8E8E8;
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 575px) {
    .wp-block-acf-presentation-multi-blocks .repeater-cards .card {
        min-height: 200px;
    }
    .wp-block-acf-presentation-multi-blocks h2 {
        font-size: 28px;
        color: #333333;
        line-height: 36px;
    }
}